cpppo==3.9.5
greenery==2.1
ipaddress==1.0.18
Flask
Flask-Environments
flask-socketio
flask-restplus==0.11.0
eventlet
argparse
-e git://github.com/telescopio-montemayor/montemayor-common#egg=montemayor-common
