<html>
<head>
    <script src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lodash.js') }}"></script>
    <script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>

    <script type="text/x-template" id="device-template" charset="utf-8">
      <div id="container_<%= device.id %>">
        <h1 class="device_name"         id="name_<%= device.id %>"         > <%= device.name %>         </h1>
        <h2 class="device_steps"        id="steps_<%= device.id %>"        > <%= device.steps %>        </h1>
        <h2 class="device_offset"       id="offset_<%= device.id %>"       > <%= device.offset %>       </h1>
        <h2 class="device_position raw" id="position_raw_<%= device.id %>" > <%= device.position_raw %> </h1>
        <h2 class="device_position deg" id="position_deg_<%= device.id %>" > <%= device.position_deg %> </h1>
        <h2 class="device_timestamp"    id="timestamp_<%= device.id %>"    > <%= device.timestamp %>    </h1>
      </div>
    </script>

    <script type="text/javascript" charset="utf-8">

        var devices = {};
        var socket = io();

        var deviceTemplate = _.template(document.getElementById('device-template').text);
        socket.on('position', function(device) {
          updateDevice(device);
        });

        function addDevice (device) {
          var nodeText = deviceTemplate({device: device});
          var nodeFragment = document.createRange().createContextualFragment(nodeText);
          document.getElementById('devices_container').appendChild(nodeFragment);
          devices[device.id] = {
            device: device,
            node: document.getElementById('container_' + device.id)
          }
        }

        function updateDevice (device) {
          var id = device.id;

          if (!devices[id]) {
            return addDevice(device);
          }

          document.getElementById('name_'+ id).textContent   = device.name;
          document.getElementById('steps_'+ id).textContent  = device.steps;
          document.getElementById('offset_'+ id).textContent = device.offset;
          document.getElementById('position_raw_'+ id).textContent  = device.position_raw;
          document.getElementById('position_deg_'+ id).textContent  = device.position_deg;
          document.getElementById('timestamp_'+ id).textContent = device.timestamp;
        }
    </script>

    <style type="text/css">
        .device_name, .device-position, .device-timestamp {
            font-family: sans-serif;
        }
    </style>
</head>
<body>
    <div id="devices_container">
    </div>
</body>
</html>
